.brend {
    /* background-color: #F8F9FA; */
    padding: 30px 3%;
}

.brend__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.brendItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    width: 163px;
    height: 60px;
    cursor: pointer;
    transition: 0.2s linear;
}

.brendItem:hover {
    border: 1px outset #33a87e;
    box-shadow: 0 0 4px #29795c;
}

.brend > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}