.addProduct {
    width: 100%;
    padding: 30px 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F9FA;
}

.addProduct_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.addProduct_header h2 {
    font-size: 2rem;
}

.addProduct .btn-outline-danger {
    color: #f30000;
    border-color: #f30000;
}

.addProductCard {
    position: relative;
    box-shadow: 0 0.1rem 0.25rem rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(222,226,230,.7);
    border-radius: 0.25rem;
}

.addProductCard_body {
    flex: 1 1 auto;
    padding: 1.3rem 0;
    display: flex;
    justify-content: center;
}

.addProductCard_nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid rgba(108,117,125,.25) !important;
    padding: 0 1.3rem;
}

.addProductCard_nav > p {
    color: #3167eb;
    font-weight: 500;
    display: block;
    padding: 0.55rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-radius: 0.25rem;
    cursor: pointer;
}

.addProductCard_nav > p:hover {
    background-color: #ebf0fd69;
}

.addProductCard_content {
    width: 75%;
    padding: 0 24px;
}

.addProductCard_content .content_body {
    padding: 24px !important;
}

.navActive{
    display: block;
    background-color: #ebf0fd;
}

.content_body_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.content_input {
    width: 100%;
}

.content_body_item > label{
    width: 35%;
    padding: 10px;
}

.content_input > input {
    width: 65%;
}

.content_input > textarea {
    width: 65%;
}

.content_input > .form_controls {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #141432;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cfdbe6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    box-shadow: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.content_input > .form_controls:focus {
    box-shadow: 0px 0px 0px 4px #cfdbe6;
}

.content_input_select {
    width: 40% !important;
}

.content_input_select > option {
    padding: 5px;
    border-radius: 0.25rem;
}

.check {
    margin-top: 10px;
}

.content_body_btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #141432;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #3167eb;
    border-color: #3167eb;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

.content_body_btn:focus {
    box-shadow: 0px 0px 0px 4px #cfdbe6;
}